---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Background from "../components/Background.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Home from "../components/Home.astro";
import Footer from "../components/Footer.astro";
import About from "../components/About.astro";
import Contact from "../components/Contact.astro";
import Projects from "../components/Projects.astro";
import Experience from "../components/Experience.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Portfolio | Azacodev ">
  <Background />

  <main class="px-4 flex flex-col">
    <SectionContainer
      class="container max-w-4xl mx-auto flex items-center min-h-screen"
    >
      <Home />
    </SectionContainer>

    <SectionContainer
      id="experience"
      class="container max-w-4xl mx-auto py-8 min-h-screen"
    >
      <h1 class="mb-8">Experiencia</h1>
      <Experience />
    </SectionContainer>

    <SectionContainer
      id="projects"
      class="container max-w-4xl mx-auto py-8 min-h-screen"
    >
      <h1 class="mb-8">Proyectos</h1>
      <Projects />
    </SectionContainer>
    
    <!-- 
    <SectionContainer
      id="about"
      class="container max-w-4xl mx-auto py-8 min-h-screen"
    >
      <h1 class="mb-8">Sobre Mí</h1>
      <About />
    </SectionContainer> -->

    <SectionContainer
      id="contact"
      class="container max-w-4xl mx-auto py-8 min-h-screen"
    >
      <h1 class="mb-8">Contacto</h1>
      <Contact />
    </SectionContainer>

    <Footer />
  </main>
</Layout>
