---
const { class: className } = Astro.props;
---

<header class=`flex items-center justify-center size-full h-24 ${className}`>
  <nav class="flex items-center space-x-5">
    <a href="#top" class="hover:underline font-medium">Inicio</a>
    <a href="#experience" class="hover:underline font-medium">Experiencia</a>
    <a href="#projects" class="hover:underline font-medium">Proyectos</a>
    <!-- <a href="#about" class="hover:underline font-medium">Sobre Mí</a> -->
    <a href="#contact" class="hover:underline font-medium">Contacto</a>
  </nav>
</header>
